
.actors-details {
  h2 {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .cast-item {
    margin-bottom: 20px;
    max-width: 150px;
  }

  .cast-info {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: #5f5f5f;
    width: 200px;
  }

  .icon-no-photo {
    width: 200px;
    height: 300px;
  }
}
