:root {
  --green: #1FA711;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.logo img {
  width: 320px;
  height: 70px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list > li {
  padding-left: 20px;
}

.nav-list > a {
  text-decoration: none;
  color: white;
  /* padding-left: 6px; */
}

.input-search {
  border-radius: 5px;
  /* padding: 10px; */
  border: none;
}

.login {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  background-color: var(--green);
  color: white;
  border-radius: 5px;
}